<section class="content" id="about">
    <div class="block-content">
        <h3 class="block-title">Perfil</h3>
        <p>{{ dataService.info.description }}</p>
        <div class="info-list row">
            <div class="col-sm-6"><span>Nombre : </span> {{ dataService.info.name }} </div>
            <div class="col-sm-6"><span>Fecha de Nacimiento : </span> {{ dataService.info.date }} </div>
            <div class="col-sm-6"><span>Dirección : </span> {{ dataService.info.address }} </div>
            <div class="col-sm-6"><span>Email : </span> {{ dataService.info.email }} </div>
            <div class="col-sm-6"><span>Telefono : </span> {{ dataService.info.phone }} </div>
            <div class="col-sm-6"><span>Interes : </span> {{ dataService.info.interest }} </div>
            <div class="col-sm-6"><span>Cargo actual : </span> {{ dataService.info.actualPosition }} <a href="https://enmedio.com" target="_blank" class="company">{{ dataService.info.actualCompany }}</a> </div>
        </div>
    </div>
    <div class="block-content">
        <h3 class="block-title">Skills</h3>
        <div *ngFor="let prof of dataService.profesional">
            <label class="progress-bar-label">{{ prof.nombre }}</label>
            <div class="progress">
                <div [style.width.%]=prof.valor class="progress-bar" role="progressbar" attr.aria-valuenow="{{ prof.valor }}" aria-valuemin="0" aria-valuemax="100">
                    <span>{{ prof.valor }}%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content">
        <h3 class="block-title">Experiencia</h3>
        <div class="timeline experience">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                        <div *ngFor="let expe of dataService.experiencia">
                            <div class="exp">
                                <div class="hgroup">
                                    <h4><span>{{ expe.empresa }}</span> - {{ expe.cargo }}</h4>
                                    <h5> {{ expe.fecha }} </h5>
                                </div>
                                <p>{{ expe.descripcion }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content">
        <h3 class="block-title">Educación</h3>
        <div class="timeline education">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                        <div *ngFor="let edu of dataService.educacion">
                            <div class="exp">
                                <div class="hgroup">
                                    <h4>{{ edu.nombre }}</h4>
                                    <!-- <a href="{{ edu.url }}" target="_blank"><span>Ver Certificado</span></a> -->
                                    <h5>{{ edu.fecha }}</h5>
                                </div>
                                <p>{{ edu.descripcion }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content">
        <h3 class="block-title">Servicios</h3>
        <div class="row">
            <div *ngFor="let serv of dataService.servicios" class="col-md-4 col-sm-6 service">
                <div class="service-icon">
                    <i class="{{ serv.icono }}"></i>
                </div>
                <h4>{{ serv.nombre }}</h4>
                <p>{{ serv.descripcion }}</p>
            </div>
        </div>
    </div>
    <!--  <div class="block-content">
        <h3 class="block-title">Awards</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\1.jpeg" alt="">
            </div>
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\2.jpeg" alt="">
            </div>
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\3.jpeg" alt="">
            </div>
            <div class="col-md-3 col-sm-6 awards">
                <img src="assets\images\awards\4.jpeg" alt="">
            </div>
        </div>
    </div> -->
    <div class="block-content">
        <h3 class="block-title">Testimonios</h3>
        <div class="row">
            <div id="liontestimonial" class="owl-carousel owl-theme">
                <div *ngFor="let test of dataService.testimonio">
                    <div class="item testimonials">
                        <img src="assets\images\testimonials\1.jpeg" alt="">
                        <blockquote>{{ test.descripcion }}
                            <p class="quote"><span>{{ test.nombre }}</span> - {{ test.cargo }}</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase" href="mailTo:{{ dataService.info.email }}">{{ dataService.info.email }}</a>
        </div>
    </div>
</section>